/******************************************************************
Site Name: 
Author: 

Stylesheet: Base Stylesheet

******************************************************************/

$serif: Lobster, Futura, "Trebuchet MS", Arial, sans-serif;
$sans-serif: Ubuntu, "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$mono: "Ubuntu Mono", "Andale Mono", AndaleMono, monospace;



html {

}

body {

}

#main {

	@include container($wrapper-width);
	
}