/******************************************************************
Site Name:
Author:

Stylesheet: Color Constants

******************************************************************/


/*********************
COLORS
*********************/

// colors
$swatch1: #33bbec; //blue
$swatch2: #ef433e; //red
$swatch3: #4db748; //green
$swatch4: #ef589f; //pink
$swatch5: #999a9a; //lt-gray
$swatch6: #636363; //dk-gray

$black:   #000000;
$white:   #FFFFFF;

// used in normalize typography
$background: $white;
$text-color: $black;
$link-color: skyblue;
$link-hover: darken($link-color, 9%);
$base-border-color: #ddd;


$facebook: #3B5998;
$twitter: #00ACEE;
$youtube: #C4302B;
$vimeo: #86C9EF;
$linkedin: #0E76A8;
$behance: #053EFF;
$soundcloud: #FF7700;
$github: #171515;
$instagram: #3F729B;
$dribbble: #EA4C89;